#Ignore below files
customrc
tags

#Ignore images, obj, simics dir, genfiles dir
images/**
builddir/**
simics/**
genfiles/**

# Ignore Python cache
__pycache__
*.pyc

# Ignore vscode config files
.vscode/**

# Ignore backup files
*~
*.bak
