#Ignore below files
customrc
tags
.user_cross_file.txt

#Ignore images, obj, simics dir, genfiles dir
images/**
builddir/**
simics/**
genfiles/**
venv_x86_64/**
venv_ppc64le/**

# Ignore Python cache
__pycache__
*.pyc

# Ignore vscode config files
.vscode/**

# Ignore backup files
*~
*.bak
